{% extends "base.html.twig" %}
{% block title %}Pokemones{% endblock %}

{% block stylesheets %}
    <style>
        .container {
            width: 80%;
            margin: 0 auto;
        }
        .searchForm {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 5px;
        }
        .unPokemon.cursorDefault td{
            cursor: default !important;
        }
        .unPokemon td{
            border-bottom:  1px solid #ccc;
            cursor: pointer;
        }
        .unPokemon strong {
            font-size: 1.8em;
            text-transform: capitalize;
        }
        .unPokemon img {
            aborder: 1px solid #ccc;
        }
        .error {
            color: red;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $("document").ready(function() {
            $( "#dialog" ).dialog({autoOpen: false,});

            $("#searchForm").on("submit", function() {
                var searchValue = $("#searchValue").val();
                if ( searchValue.trim() === '') {
                    return false;
                }
            });

            $(".unPokemon").on("click", function() {
                var element = $(this);
                if (element.attr("data-loaded") === "0") {
                    var id= $(this).attr("data-entry");
                    element.children().find(".pokeInfo").html("Cargando información...");
                    $.ajax({
                        type: "POST",
                        url: '/pokemon/info',
                        data:  { pokemonId:  id},
                        success: function (data) {
                            if (data) {
                                let type = '';
                                data.types.forEach(function(item) {
                                    type += item.type.name + ', ';
                                });
                                element.attr("data-loaded", "1")
                                .addClass("cursorDefault")
                                .children().find(".pokeInfo").html(
                                    "<ul>" +
                                    "<li>ID: " + id + "</li>" +
                                    "<li>Tipo: " + type.slice(0, -2)+ "</li>" +                                
                                    "<li>Peso: " + data.weight + "</li>" +
                                    "<li>Altura: " + data.height + "</li></ul>"
                                );
                            } else {
                                element.children().find(".pokeInfo").html("Ocurrio un error, inténtelo nuevamente");
                            }
                        },
                        dataType: 'json',
                    });
                }                    
            });
        });
        
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <header>
            <h1>Buscador de pokemones</h1>
            <strong>Ingrese el nombre o id del pokemon a buscar</strong>
        </header>
        <div class="searchForm">
            <form action="/pokemon/search" method="POST" id="searchForm">
                <input type="text" id="searchValue" name="searchValue" placeholder="Ej: Bulbasaur"
                    value="{% if search is defined %}{{search}}{% endif %}" />
                <button type="submit" id="buscarButton">Buscar</button>
                <a href="/pokemon/">Mostrar 20 al azar</a>
            </form>
            {% if search is defined %}
                <p>
                    Mostrando {{ count }} resultado/s {% if byId == true %} con id {% else %}  conteniendo {% endif %} <strong>{{ search }}</strong>
                </p>
            {% endif %}
        </div>

        {% if error == false %}
            {% if pokemones %}
            <table>
                {% for pokemon in pokemones %}
                    <tr class="unPokemon" data-entry={{pokemon.entry_number}} data-loaded="0">
                        <td>
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.entry_number}}.png" />
                        </td>
                        <td valign="middle">
                            <strong>{{ pokemon.pokemon_species.name }}</strong>
                            <div class="pokeInfo"></div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        {% else %}
            <div class="error">
                Ha ocurrido un error, inténtelo nuevamente
            </div>
        {% endif %}
    </div>
{% endblock %}